<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>GwWgM110Knsro4lYmExyLLKwj</string>
	<key>consumerSecret</key>
	<string>sL4ejaqGvskNnY64aWOq2tUfqfJ6lAIf66LqppyC0OWOXj6SOo</string>
</dict>
</plist>
