<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>kD78sWtkfn2kXVneS0biV5bWU</string>
	<key>consumerSecret</key>
	<string>SqZvQRbgYwpO7K1rrF9FqjwrKide5NLgsDcwS2JQEqso0Qg5M4</string>
</dict>
</plist>
